/node_modules
/public/build
/public/hot
/public/storage
/public/pdfs
/public/photos
/public/qrcodes
/storage/*.key
/storage/app/pdfs
/storage/app/photos
/storage/app/qrcodes
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
